@import "template-for-all.css";


body{
    padding-top: 10.5%;
    background-image: url("../img/register-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

#sign-up-form{
    text-align: center;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
